<ion-view title="සිමාකාරී සංඥා" id="page7">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/gx5QaHJfQGmnFYaERhzD_Capture.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page7-form6" class="list">
      <label class="item item-input" id="page7-textarea6">
        <span class="input-label"></span><textarea placeholder="">පළල සීමාව</textarea></label>
    </form>
    <div>
      <img src="img/MkSns44Tr2pjm8vX4pBY_Capture1.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page7-form7" class="list">
      <label class="item item-input" id="page7-textarea7">
        <span class="input-label"></span><textarea placeholder="">උස සීමාව</textarea></label>
    </form>
    <div>
      <img src="img/BwbYhYftTNy7VPV15VKM_Capture2.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page7-form8" class="list">
      <label class="item item-input" id="page7-textarea8">
        <span class="input-label"></span><textarea placeholder="">බර සීමාව</textarea></label>
    </form>
    <div>
      <img src="img/1W3ylPfRaOMCRXOftqDr_Capture3.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page7-form11" class="list">
      <label class="item item-input" id="page7-textarea11">
        <span class="input-label"></span><textarea placeholder="">ඇක්සලයක් මත නියමිත බර සීමාව</textarea></label>
    </form>
    <div>
      <img src="img/d1LSaAN3QTCHqVDsAeiP_Capture4.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page7-form10" class="list">
      <label class="item item-input" id="page7-textarea10">
        <span class="input-label"></span><textarea placeholder="">වේග simawa</textarea></label>
    </form>
    <div>
      <img src="img/jzwJVlrgTnyqJEOmVSEx_Capture5.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page7-form9" class="list">
      <label class="item item-input" id="page7-textarea9">
        <span class="input-label"></span><textarea placeholder="">වේග සීමාවේ අවසානය</textarea></label>
    </form>
  </ion-content>
</ion-view>