<ion-view title="තහනම් සංඥා" id="page4">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/yaBb2fzhSqtcOX7JWX7J_Capture.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page4-form12" class="list">
      <label class="item item-input" id="page4-textarea12">
        <span class="input-label"></span><textarea placeholder="">ඇතුල්වීම තහනම්</textarea></label>
    </form>
    <div>
      <img src="img/1gokkIdLTOSTUvl0E9CX_Capture1.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page4-form110" class="list">
      <label class="item item-input" id="page4-textarea111">
        <span class="input-label"></span><textarea placeholder="">  වම්  පැත්තට  හැරවීම  තහනම්</textarea></label>
    </form>
    <div>
      <img src="img/fbNmo13sTBWQCBpqtU9G_Capture2.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page4-form14" class="list">
      <label class="item item-input" id="page4-textarea14">
        <span class="input-label"></span><textarea placeholder="">දකුණු පැත්තට හැරවීම තහනම්</textarea></label>
    </form>
    <div>
      <img src="img/bsC0rVvXRt2auLrA7U74_Capture6.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page4-form15" class="list">
      <label class="item item-input" id="page4-textarea15">
        <span class="input-label"></span><textarea placeholder="">U හැඩයට සිටිනසේ හැරවීම තහනම්</textarea></label>
    </form>
    <div>
      <img src="img/JWq3VV6SZ68NykrYb0Bc_Capture3.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page4-form16" class="list">
      <label class="item item-input" id="page4-textarea16">
        <span class="input-label"></span><textarea placeholder="">වාහන ඉස්සර කිරීම තහනම්</textarea></label>
    </form>
    <div>
      <img src="img/l5CY6FxmSAaCL26z1pJW_Capture4.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page4-form17" class="list">
      <label class="item item-input" id="page4-textarea17">
        <span class="input-label"></span><textarea placeholder="">නලා ශබ්ද කිරීම තහනම්</textarea></label>
    </form>
    <div>
      <img src="img/SPoszMBETgi9b1JUb4TW_Capture5.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page4-form18" class="list">
      <label class="item item-input" id="page4-textarea18">
        <span class="input-label"></span><textarea placeholder="">මාර්ගය වසා ඇත</textarea></label>
    </form>
    <div>
      <img src="img/rvHsfFUtSn2xrxmTLdvC_Capture7.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page4-form19" class="list">
      <label class="item item-input" id="page4-textarea19">
        <span class="input-label"></span><textarea placeholder="">බස්‌රථ සදහා මාර්ගය වසා at</textarea></label>
    </form>
    <div>
      <img src="img/8mRp0HSIu2wKlRghsZag_Capture8.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page4-form20" class="list">
      <label class="item item-input" id="page4-textarea20">
        <span class="input-label"></span><textarea placeholder="">ලොරි සදහා මාර්ගය වසා atha</textarea></label>
    </form>
    <div>
      <img src="img/uEr5H1jPRYywjhq1LfAU_Capture9.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page4-form21" class="list">
      <label class="item item-input" id="page4-textarea21">
        <span class="input-label"></span><textarea placeholder="">සියළුම වාහන සදහා මාර්ගය වසා ඇත</textarea></label>
    </form>
    <div>
      <img src="img/iIxV80Ro24pik2dcbvlg_Capture10.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page4-form22" class="list">
      <label class="item item-input" id="page4-textarea22">
        <span class="input-label"></span><textarea placeholder="">වාහාන නැවැත්වීම තහනම්</textarea></label>
    </form>
    <div>
      <img src="img/CL2P1uJ6SlCqD68HS6Po_Capture11.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page4-form23" class="list">
      <label class="item item-input" id="page4-textarea23">
        <span class="input-label"></span><textarea placeholder="">වාහන නවතා තැබීම සහ නතරවීම තහනම්</textarea></label>
    </form>
    <div>
      <img src="img/QdA3nDSQHS6qxBIAULGg_Capture12.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page4-form24" class="list">
      <label class="item item-input" id="page4-textarea24">
        <span class="input-label"></span><textarea placeholder="">ඔත්තේ දීනවල වාහන නැවැත්වීම තහනම්</textarea></label>
    </form>
    <div>
      <img src="img/JohJClTGuVWKSSF1cdIw_Capture.13PNG.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page4-form25" class="list">
      <label class="item item-input" id="page4-textarea25">
        <span class="input-label"></span><textarea placeholder="">ඉරට්ටේ දිනවල වාහන නැවැත්වීම තහනම්</textarea></label>
    </form>
  </ion-content>
</ion-view>