<ion-view title="රියදුරන්හට ප්‍රයෝජනවත් අනෙකුත් සංඥා" id="page10">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/zterSg6NQk2i1yzyHq1E_Capture.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page10-form33" class="list">
      <label class="item item-input" id="page10-textarea33">
        <span class="input-label"></span><textarea placeholder="">පදිකයන් මාරුවන ස්ථානය</textarea></label>
    </form>
    <div>
      <img src="img/nkKpkikwQZmgHEwcxkPJ_Capture1.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page10-form34" class="list">
      <label class="item item-input" id="page10-textarea34">
        <span class="input-label"></span><textarea placeholder="">තනි අත‍ට ගමන් කරන මාර්ගy</textarea></label>
    </form>
    <div>
      <img src="img/Mr7FVvRuRrKr8ZhoF5H8_Capture2.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page10-form111" class="list">
      <label class="item item-input" id="page10-textarea112">
        <span class="input-label"></span><textarea placeholder="">රෝහල</textarea></label>
    </form>
    <div>
      <img src="img/TjyuumdS0KEXklmF4kYg_Capture3.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page10-form112" class="list">
      <label class="item item-input" id="page10-textarea113">
        <span class="input-label"></span><textarea placeholder="">වාහන නවත්වන ස්ථානය </textarea></label>
    </form>
    <div>
      <img src="img/n525wWQjRnDxGM1ZgZBh_Capture4.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page10-form37" class="list">
      <label class="item item-input" id="page10-textarea37">
        <span class="input-label"></span><textarea placeholder="">බස්‌ රථ නැවතුම</textarea></label>
    </form>
    <div>
      <img src="img/loGYA1wbRmSG06F5zgUG_Capture5.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page10-form38" class="list">
      <label class="item item-input" id="page10-textarea38">
        <span class="input-label"></span><textarea placeholder="">බස්‌ රථ සදහා පමණක් ඇති ධාවන තීරුව ආරම්භය හෝ ඉදිරියට පැතිරීම</textarea></label>
    </form>
    <div>
      <img src="img/gVnOlHbiTGytvnLuN0cu_Capture6.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page10-form41" class="list">
      <label class="item item-input" id="page10-textarea41">
        <span class="input-label"></span><textarea placeholder="">බස්‌රථ සදහා පමණක් ඇති ධාවන තීරුව අවසානය</textarea></label>
    </form>
    <div>
      <img src="img/udERxa7YQpS9mAlPV3Md_Capture7.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page10-form40" class="list">
      <label class="item item-input" id="page10-textarea40">
        <span class="input-label"></span><textarea placeholder="">පාපැදි සදහා පමණක් ඇති ධාවන තීරුව ආරම්භය හෝ ඉදිරියට pathiri</textarea></label>
    </form>
    <div>
      <img src="img/jVzx1yAQO2tCVlDfb5Cz_Capture8.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page10-form39" class="list">
      <label class="item item-input" id="page10-textarea39">
        <span class="input-label"></span><textarea placeholder="">පාපැදි සදහා පමණක් ඇති ධාවන තීරුව අවසානය</textarea></label>
    </form>
  </ion-content>
</ion-view>