<ion-view title="අනතුරැ හැගවීමේ සංඥා" id="page3">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/mEG1Nx3CR66ViA6iMo3w_Capture1.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page3-form82" class="list">
      <label class="item item-input" id="page3-textarea82">
        <span class="input-label">වම් පැත්තට වංගුව ඉදිරියෙනි</span><textarea placeholder=""></textarea></label>
    </form>
    <div>
      <img src="img/C3FVEQoQnSkdDoCWsf5G_Capture2.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page3-form81" class="list">
      <label class="item item-input" id="page3-textarea81">
        <span class="input-label">දකුණු පැත්තට වංගුව ඉදිරියෙනි</span><textarea placeholder=""></textarea></label>
    </form>
    <div>
      <img src="img/5mNNqYRMQi6skZboDxg5_Capture3.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page3-form80" class="list">
      <label class="item item-input" id="page3-textarea80">
        <span class="input-label">වම් පැත්තට ද්විත්ව වංගුව ඉදිරියෙනි</span><textarea placeholder=""></textarea></label>
    </form>
    <div>
      <img src="img/mLpVe3KOSgqNyEtgtqFh_Capture4.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page3-form79" class="list">
      <label class="item item-input" id="page3-textarea79">
        <span class="input-label">දකුණු පැත්තට ද්විත්ව වංගුව ඉදිරියෙනි</span><textarea placeholder=""></textarea></label>
    </form>
    <div>
      <img src="img/ZtQVL29SSAuwXOoLd2fd_Capture5.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page3-form78" class="list">
      <label class="item item-input" id="page3-textarea78">
        <span class="input-label">දකුණු පැත්තට වැලමිට වංගුව ඉදිරියෙනි</span><textarea placeholder=""></textarea></label>
    </form>
    <div>
      <img src="img/fkQQTaOQQY2kDNNjbkor_Capture6.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page3-form77" class="list">
      <label class="item item-input" id="page3-textarea77">
        <span class="input-label">වම් පැත්තට වැලමිට වංගුව ඉදිරියෙනි</span><textarea placeholder=""></textarea></label>
    </form>
    <div>
      <img src="img/SkaPAc8TE24oMOgIlrtC_Capture7.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page3-form76" class="list">
      <label class="item item-input" id="page3-textarea76">
        <span class="input-label">ද්වීත්ව මාර්ගය අවසානය ඉදීරියෙනි</span><textarea placeholder=""></textarea></label>
    </form>
    <div>
      <img src="img/if6b45IQT6ueLXrDkXls_Capture8.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page3-form75" class="list">
      <label class="item item-input" id="page3-textarea75">
        <span class="input-label">ඉදිරියෙහිදි මාර්ගය පටුය</span><textarea placeholder=""></textarea></label>
    </form>
    <div>
      <img src="img/v65H30TuRTK8oHpkNFol_Capture9.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page3-form74" class="list">
      <label class="item item-input" id="page3-textarea74">
        <span class="input-label">එකිනෙක හරහා ගමන් කරන මාර්ගය ඉදිරියෙහනි</span><textarea placeholder=""></textarea></label>
    </form>
    <div>
      <img src="img/I7IcIxC8TWGsStbhgl0J_Capture10.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page3-form73" class="list">
      <label class="item item-input" id="page3-textarea73">
        <span class="input-label">පළමුවෙනි පැති මාර්ගය වම් පැත්තට විහිදෙන විසම සන්ධ්ය ඉදීරියෙනි</span><textarea placeholder=""></textarea></label>
    </form>
    <div>
      <img src="img/b823yOpDSQqR5EO7SFO4_Capture11.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page3-form72" class="list">
      <label class="item item-input" id="page3-textarea72">
        <span class="input-label">පළමුවෙනි පැති මාර්ගය දකුණු පැත්තට විහිදෙන විසම සන්ධ්ය ඉදීරියෙනි</span><textarea placeholder=""></textarea></label>
    </form>
    <div>
      <img src="img/x9AdEAGRPyTfgk9W8mYw_Capture12.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page3-form71" class="list">
      <label class="item item-input" id="page3-textarea71">
        <span class="input-label">T හැඩයේ මංසන්ධ්ය ඉදීරියෙනි</span><textarea placeholder=""></textarea></label>
    </form>
    <div>
      <img src="img/1mL25OozQPuZQIwI9P3e_Capture13.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page3-form70" class="list">
      <label class="item item-input" id="page3-textarea70">
        <span class="input-label">Y හැඩයේ මංසන්ධ්ය ඉදීරියෙනි</span><textarea placeholder=""></textarea></label>
    </form>
    <div>
      <img src="img/3lZiyVuRQmCNsJaqSC1H_Capture14.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page3-form69" class="list">
      <label class="item item-input" id="page3-textarea69">
        <span class="input-label">වම් පැත්තෙන් රථ වාහන ප්‍රධාන මාර්ගයට එක්‌වන සන්ධ්ය ඉදීරියෙනි</span><textarea placeholder=""></textarea></label>
    </form>
    <div>
      <img src="img/OXsPAAQ7Kfvzahw6cJIg_Capture15.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page3-form68" class="list">
      <label class="item item-input" id="page3-textarea68">
        <span class="input-label">දකුණු පැත්තෙන් රථ වාහන ප්‍රධාන මාර්ගයට එක්‌වන සන්ධ්ය ඉදීරියෙනි</span><textarea placeholder=""></textarea></label>
    </form>
    <div>
      <img src="img/yEWN2z4AQk2IhwpXov8k_Capture16.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page3-form67" class="list">
      <label class="item item-input" id="page3-textarea67">
        <span class="input-label">පටු පාලම ඉදීරියෙනි</span><textarea placeholder=""></textarea></label>
    </form>
    <div>
      <img src="img/JNmzYruaQNiLt3ef4I0t_Capture17.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page3-form66" class="list">
      <label class="item item-input" id="page3-textarea66">
        <span class="input-label">ඉදිරියෙන් නවතිනු</span><textarea placeholder=""></textarea></label>
    </form>
    <div>
      <img src="img/ywUyZ38dQ3myy4cCUvb2_Capture18.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page3-form65" class="list">
      <label class="item item-input" id="page3-textarea65">
        <span class="input-label">ඉදිරියෙන් මාර්ගය ඉඩදෙනු</span><textarea placeholder=""></textarea></label>
    </form>
    <div>
      <img src="img/ooysJlFmShedsuiS4ean_Capture19.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page3-form64" class="list">
      <label class="item item-input" id="page3-textarea64">
        <span class="input-label">වටරවුම ඉදීරියෙනි</span><textarea placeholder=""></textarea></label>
    </form>
    <div>
      <img src="img/a000EJQDTEKWrwb3i8HK_Capture20.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page3-form63" class="list">
      <label class="item item-input" id="page3-textarea63">
        <span class="input-label">රථ වාහන ආලෝක සංඥා ඉදීරියෙනි</span><textarea placeholder=""></textarea></label>
    </form>
    <div>
      <img src="img/3Mrt46CEStel1I1yOTDD_Capture21.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page3-form62" class="list">
      <label class="item item-input" id="page3-textarea62">
        <span class="input-label">පහතට අවදානම් බැවුම ඉදීරියෙනි</span><textarea placeholder=""></textarea></label>
    </form>
    <div>
      <img src="img/XIg1geujQqK2euupMkdT_Capture22.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page3-form61" class="list">
      <label class="item item-input" id="page3-textarea61">
        <span class="input-label">ඉහළට අවදානම් බැවුම ඉදීරියෙනි</span><textarea placeholder=""></textarea></label>
    </form>
    <div>
      <img src="img/kQoTJfDFSaWtMNjBRlbU_Capture23.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page3-form60" class="list">
      <label class="item item-input" id="page3-textarea60">
        <span class="input-label">ලිස්සන සුළු මාර්ගය ඉදීරියෙනි</span><textarea placeholder=""></textarea></label>
    </form>
    <div>
      <img src="img/bzkCL7o1SrWyMsjAUO2m_Capture24.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page3-form59" class="list">
      <label class="item item-input" id="page3-textarea59">
        <span class="input-label">ගල් පර්වත කැබලි වැටෙන ස්ථානය ඉදීරියෙනි</span><textarea placeholder=""></textarea></label>
    </form>
    <div>
      <img src="img/xLwD7cVQtWNtPBiYicuu_Capture25.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page3-form58" class="list">
      <label class="item item-input" id="page3-textarea58">
        <span class="input-label">පදිකයන් මාරුවන ස්ථානය ඉදීරියෙනි</span><textarea placeholder=""></textarea></label>
    </form>
    <div>
      <img src="img/TOTOpkLORBiKZPmEsuCd_Capture26.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page3-form57" class="list">
      <label class="item item-input" id="page3-textarea57">
        <span class="input-label">පදිකයන් මාරුවන ස්ථානය ඉදීරියෙනි</span><textarea placeholder=""></textarea></label>
    </form>
    <div>
      <img src="img/k0ac2FvxQW2rObA7SPC4_Capture27.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page3-form56" class="list">
      <label class="item item-input" id="page3-textarea56">
        <span class="input-label">මිනිසුන්වැඩෙහි යෙදෙන ස්ථානය ඉදීරියෙනි</span><textarea placeholder=""></textarea></label>
    </form>
    <div>
      <img src="img/qNy7R4LuR3eCMVKTJM2g_Capture28.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page3-form55" class="list">
      <label class="item item-input" id="page3-textarea55">
        <span class="input-label">ගේට්ටු සහිත දුම්රිය හරස් මාර්ගය ඉදීරියෙනි</span><textarea placeholder=""></textarea></label>
    </form>
    <div>
      <img src="img/ayic4fT3SnyrcDWXjdvj_Capture29.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page3-form54" class="list">
      <label class="item item-input" id="page3-textarea54">
        <span class="input-label">ආරක්ෂාකර නොමැති දුම්රිය හරස් මාර්ගය ඉදීරියෙනි</span><textarea placeholder=""></textarea></label>
    </form>
    <div>
      <img src="img/DNn0Jq0jRzrxe0Yg2YQw_Capture30.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page3-form53" class="list">
      <label class="item item-input" id="page3-textarea53">
        <span class="input-label">බස්‌ රථ ධාවන තීරුව ඉදීරියෙනි</span><textarea placeholder=""></textarea></label>
    </form>
    <div>
      <img src="img/gSHJjZPXRiSGaHrkwA3m_Capture31.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page3-form52" class="list">
      <label class="item item-input" id="page3-textarea52">
        <span class="input-label">පාපැදි ධාවන තීරුව ඉදීරියෙනි</span><textarea placeholder=""></textarea></label>
    </form>
    <div>
      <img src="img/athVrtGQVCieKWD2Prsw_Capture32.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page3-form101" class="list">
      <label class="item item-input" id="page3-textarea102">
        <span class="input-label">පාපැදිකරුවන් මාරුවන ස්ථානය ඉදීරියෙනි</span><textarea placeholder=""></textarea></label>
    </form>
    <div>
      <img src="img/v3EZ7PsISRsFB5OtIMGH_Capture33.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page3-form50" class="list">
      <label class="item item-input" id="page3-textarea50">
        <span class="input-label">ගවයන් හෝ වෙනත් සතුන් මාර්ගය හරහා ගමන් කිරීමට ඉඩ ඇති ස්ථානය ඉදීරියෙනි</span><textarea placeholder=""></textarea></label>
    </form>
    <div>
      <img src="img/dVHEfFqmQo6qUZHXtL3T_Capture34.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page3-form49" class="list">
      <label class="item item-input" id="page3-textarea49">
        <span class="input-label">මාර්ගය පැත්තකින් පිහිටි ජලාශයකට බැවුම් වන ස්ථානය ඉදීරියෙනි</span><textarea placeholder=""></textarea></label>
    </form>
  </ion-content>
</ion-view>