<ion-view title="පොලිස් නිලධාරීන්ගේ හස්ත සංඥා" id="page2">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/9hIzcbRR1MDxwdUJIiwA_1.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page2-form1" class="list">
      <label class="item item-input" id="page2-textarea1">
        <span class="input-label"></span><textarea placeholder="">නවතිනු</textarea></label>
    </form>
    <div>
      <img src="img/w0bXAea4SN2GLGR3zzFM_2.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page2-form2" class="list">
      <label class="item item-input" id="page2-textarea2">
        <span class="input-label"></span><textarea placeholder="">ඉදිරියට එන්න</textarea></label>
    </form>
    <div>
      <img src="img/sKtF1bLRqqmkNKYCzuoA_3.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page2-form3" class="list">
      <label class="item item-input" id="page2-textarea3">
        <span class="input-label"></span><textarea placeholder="">ඉදිරියෙන් සහ පිටිපසින් එන වාහන නතර වෙනූ</textarea></label>
    </form>
    <div>
      <img src="img/tWk45cj6R4CaLij8BMJC_5.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page2-form4" class="list">
      <label class="item item-input" id="page2-textarea4">
        <span class="input-label"></span><textarea placeholder="">ඉදිරියට එන්න</textarea></label>
    </form>
    <div>
      <img src="img/BvKKBp6Sbe1LLkmgz5Rn_6.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page2-form5" class="list">
      <label class="item item-input" id="page2-textarea5">
        <span class="input-label"></span><textarea placeholder="">පිටිපසින් එන වාහන නතර වෙනූ</textarea></label>
    </form>
  </ion-content>
</ion-view>