<ion-view title="විධාන සංඥා" id="page6">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/Ly71Z0XRoWwQOhZOSPx1_Capture.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page6-form42" class="list">
      <label class="item item-input" id="page6-textarea42">
        <span class="input-label"></span><textarea placeholder="">වම් පැත්තට හැරවිය යුතුය</textarea></label>
    </form>
    <div>
      <img src="img/nUGxqgsoTEyz8FmEbLJQ_Capture1.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page6-form43" class="list">
      <label class="item item-input" id="page6-textarea43">
        <span class="input-label"></span><textarea placeholder="">දකුණු පැත්තට හැරවිය යුතුය</textarea></label>
    </form>
    <div>
      <img src="img/5MfWjx9SSOtYuzpeL9dA_Capture2.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page6-form44" class="list">
      <label class="item item-input" id="page6-textarea44">
        <span class="input-label"></span><textarea placeholder="">කෙළින්ම ඉදිරියට ගමන් කළ යුතුය</textarea></label>
    </form>
    <div>
      <img src="img/lZePrPljS2eyLRA7YVEN_Capture3.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page6-form45" class="list">
      <label class="item item-input" id="page6-textarea45">
        <span class="input-label"></span><textarea placeholder="">ඉදිරියෙන් වම් පැත්තට හැරවිය yu</textarea></label>
    </form>
    <div>
      <img src="img/UveyKlwThSTpQIulKWgw_Capture4.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page6-form46" class="list">
      <label class="item item-input" id="page6-textarea46">
        <span class="input-label"></span><textarea placeholder="">ඉදිරියෙන් දකුණු පැත්තට හැරවිය යුතුය</textarea></label>
    </form>
    <div>
      <img src="img/dF6kySgQyWPc4T1sAt7Z_Capture5.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page6-form47" class="list">
      <label class="item item-input" id="page6-textarea47">
        <span class="input-label"></span><textarea placeholder="">මේ පැත්තෙන් පසු කරන්න</textarea></label>
    </form>
    <div>
      <img src="img/0lBnAAF0RCun6jnGCNSw_Capture6.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page6-form48" class="list">
      <label class="item item-input" id="page6-textarea48">
        <span class="input-label"></span><textarea placeholder="">අනිවාර්ය වටරවුම</textarea></label>
    </form>
  </ion-content>
</ion-view>