<ion-view title="ප්‍රමුඛතා සංඥා" id="page5">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/F5xkQzxSxaRArQpnUj7g_Capture.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page5-form26" class="list">
      <label class="item item-input" id="page5-textarea26">
        <span class="input-label"></span><textarea placeholder="">මාර්ගය ඉඩදෙනු</textarea></label>
    </form>
    <div>
      <img src="img/iswmAQDcQiGsaDPT8bGT_Capture1.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page5-form27" class="list">
      <label class="item item-input" id="page5-textarea27">
        <span class="input-label"></span><textarea placeholder="">නවතිනු</textarea></label>
    </form>
    <div>
      <img src="img/lFA91gfyQY2MX8Sx5t0W_Capture2.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page5-form28" class="list">
      <label class="item item-input" id="page5-textarea28">
        <span class="input-label"></span><textarea placeholder="">ආරක්ෂාකර නොමැති දුම්රිය හරස් මාර්ගය</textarea></label>
    </form>
    <div>
      <img src="img/5XfJAauQShqmpdhZytMw_Capture3.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page5-form29" class="list">
      <label class="item item-input" id="page5-textarea29">
        <span class="input-label"></span><textarea placeholder="">ප්‍රමුඛතා මාර්ගය</textarea></label>
    </form>
    <div>
      <img src="img/irMrau7VRyqzVTtBasms_Capture4.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page5-form30" class="list">
      <label class="item item-input" id="page5-textarea30">
        <span class="input-label"></span><textarea placeholder="">ප්‍රමුඛතාවය අවසන් වේ</textarea></label>
    </form>
    <div>
      <img src="img/PogDRtZoTyGWY9BDLPQi_Capture5.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page5-form31" class="list">
      <label class="item item-input" id="page5-textarea31">
        <span class="input-label"></span><textarea placeholder="">ඉදිරියෙන් එන වාහනවලට ප්‍රමුඛත්වය දිය යුතුය</textarea></label>
    </form>
    <div>
      <img src="img/ciH4vp6sTyGATMGnANdi_Capture6.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page5-form32" class="list">
      <label class="item item-input" id="page5-textarea32">
        <span class="input-label"></span><textarea placeholder="">ඉදිරියට යන වාහාන වලට ප්‍රමුඛත්වය දියයුතුය</textarea></label>
    </form>
  </ion-content>
</ion-view>